@{
    Layout = "_Layout";
    ViewData["title"] = "Add Blog";
    ViewData["Header"] = "<link rel=\"stylesheet\" href=\"~/css/github-mdcss.css\" />";
}
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="align-self-center" style="width:80%;">
                <form>
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" placeholder="enter your title here" id="name">
                        <label for="desc">Desc:</label>
                        <input type="text" class="form-control" placeholder="enter your description here" id="desc">
                        <label for="body">Body:(Markdown)</label>
						<textarea class="form-control markdown-body" cols="20" rows="10" placeholder="enter the main body here" id="body"></textarea>
                    </div>
                    <button id="send" type="submit" class="btn btn-primary">Send</button>
                    <button id="reset" type="reset" class="btn btn-primary">clear</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
var but = document.getElementById("send");
var reset = document.getElementById("reset");
but.onclick = function(){
    var name = document.getElementById("name").value.replace(new RegExp("\"","g"),"\\\"");
    var desc = document.getElementById("desc").value.replace(new RegExp("\"","g"),"\\\"");
    var body = document.getElementById("body").value.replace(new RegExp("\"","g"),"\\\"");
    ajax("POST","/Blog/Insert",
    '{"name":"'+name+'","desc":"'+desc+'","body":"'+body+'"}',
    3000,function(r){
		if(r.responseText == 0){
			alert("发布成功");
		}else{
			alert("发布失败");
		}
	});
	reset.click();
	return false;
}
</script>

